.nav-bar {
  grid-area: nav;
  background-color: orangered;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  color: #f8f8f8;
  position: relative;
}

.nav-menu {
  background-color: orangered;
  list-style: none;
  display: flex;
  gap: 1rem;
}

/* .nav-menu--desktop {
} */

.nav-menu--mobile {
  flex-direction: column;
  position: absolute;
  align-items: center;
  justify-content: space-around;
  font-size: 2rem;
  top: 3.9rem;
  right: 0;
  width: 100%;
  height: 50vh;
  padding-bottom: 2rem;
  z-index: 10;
}
